OnWine-OrchestrateurV2/bpelContent/CurrencyConverter.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.currency.ws.atod.afcepf.fr/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CurrencyConverterService" targetNamespace="http://soap.currency.ws.atod.afcepf.fr/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.currency.ws.atod.afcepf.fr/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://soap.currency.ws.atod.afcepf.fr/">
  <xs:element name="convert" type="tns:convert"/>
  <xs:element name="convertAndFormat" type="tns:convertAndFormat"/>
  <xs:element name="convertAndFormatResponse" type="tns:convertAndFormatResponse"/>
  <xs:element name="convertResponse" type="tns:convertResponse"/>
  <xs:element name="dtCurrency" type="tns:dtCurrency"/>
  <xs:element name="getAllCurrencies" type="tns:getAllCurrencies"/>
  <xs:element name="getAllCurrenciesResponse" type="tns:getAllCurrenciesResponse"/>
  <xs:complexType name="convert">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double"/>
      <xs:element minOccurs="0" name="src" type="xs:string"/>
      <xs:element minOccurs="0" name="trgt" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="convertResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="convertAndFormat">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double"/>
      <xs:element minOccurs="0" name="src" type="xs:string"/>
      <xs:element minOccurs="0" name="trgt" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="convertAndFormatResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:wrapper"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="wrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:string"/>
      <xs:element minOccurs="0" name="currency_class" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAllCurrencies">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllCurrenciesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dtCurrency"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dtCurrency">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="code" type="xs:string"/>
      <xs:element minOccurs="0" name="rate" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="currenciesWSError">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CA_NE_FONCTIONNE_PAS"/>
      <xs:enumeration value="RECHERCHE_NON_PRESENTE_EN_BASE"/>
      <xs:enumeration value="IMPOSSIBLE_AJOUT_DANS_BASE"/>
      <xs:enumeration value="IMPOSSIBLE_SUPPRESSION_DANS_BASE"/>
      <xs:enumeration value="UPDATE_NON_EFFECTUE_EN_BASE"/>
      <xs:enumeration value="EMPTY_DB"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CurrenciesWSException" type="tns:CurrenciesWSException"/>
  <xs:complexType name="CurrenciesWSException">
    <xs:sequence>
      <xs:element minOccurs="0" name="wsError" type="tns:currenciesWSError"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="convertResponse">
    <wsdl:part element="tns:convertResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCurrenciesResponse">
    <wsdl:part element="tns:getAllCurrenciesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertAndFormat">
    <wsdl:part element="tns:convertAndFormat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CurrenciesWSException">
    <wsdl:part element="tns:CurrenciesWSException" name="CurrenciesWSException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convert">
    <wsdl:part element="tns:convert" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllCurrencies">
    <wsdl:part element="tns:getAllCurrencies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="convertAndFormatResponse">
    <wsdl:part element="tns:convertAndFormatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICurrencyConverter">
    <wsdl:operation name="convert">
      <wsdl:input message="tns:convert" name="convert">
    </wsdl:input>
      <wsdl:output message="tns:convertResponse" name="convertResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CurrenciesWSException" name="CurrenciesWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="convertAndFormat">
      <wsdl:input message="tns:convertAndFormat" name="convertAndFormat">
    </wsdl:input>
      <wsdl:output message="tns:convertAndFormatResponse" name="convertAndFormatResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CurrenciesWSException" name="CurrenciesWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllCurrencies">
      <wsdl:input message="tns:getAllCurrencies" name="getAllCurrencies">
    </wsdl:input>
      <wsdl:output message="tns:getAllCurrenciesResponse" name="getAllCurrenciesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CurrenciesWSException" name="CurrenciesWSException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CurrencyConverterServiceSoapBinding" type="tns:ICurrencyConverter">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="convert">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="convert">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="convertResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CurrenciesWSException">
        <soap:fault name="CurrenciesWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="convertAndFormat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="convertAndFormat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="convertAndFormatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CurrenciesWSException">
        <soap:fault name="CurrenciesWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getAllCurrencies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllCurrencies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllCurrenciesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CurrenciesWSException">
        <soap:fault name="CurrenciesWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CurrencyConverterService">
    <wsdl:port binding="tns:CurrencyConverterServiceSoapBinding" name="CurrencyConverterPort">
      <soap:address location="http://GAIA:8180/OnWine-CurrenciesWS-Biz/CurrencyConverter"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>