OnWine-OrchestrateurV2/bpelContent/DeliveryCalculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://delivery.afcepf.fr" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="DeliveryCalculatorService" targetNamespace="http://delivery.afcepf.fr">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://delivery.afcepf.fr" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://delivery.afcepf.fr">
  <xs:element name="getAllDeliveries" type="tns:getAllDeliveries"/>
  <xs:element name="getAllDeliveriesResponse" type="tns:getAllDeliveriesResponse"/>
  <xs:element name="getInternationalRateDelivery" type="tns:getInternationalRateDelivery"/>
  <xs:element name="getInternationalRateDeliveryResponse" type="tns:getInternationalRateDeliveryResponse"/>
  <xs:element name="getRateDeliveryTotal" type="tns:getRateDeliveryTotal"/>
  <xs:element name="getRateDeliveryTotalResponse" type="tns:getRateDeliveryTotalResponse"/>
  <xs:complexType name="getAllDeliveries">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllDeliveriesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:dtDelivery"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dtDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="codePays" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="quantity" type="xs:int"/>
      <xs:element minOccurs="0" name="rate" type="xs:double"/>
      <xs:element minOccurs="0" name="rateInternational" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRateDeliveryTotal">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getRateDeliveryTotalResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInternationalRateDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getInternationalRateDeliveryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="deliveriesWSError">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CA_NE_FONCTIONNE_PAS"/>
      <xs:enumeration value="RECHERCHE_NON_PRESENTE_EN_BASE"/>
      <xs:enumeration value="IMPOSSIBLE_AJOUT_DANS_BASE"/>
      <xs:enumeration value="IMPOSSIBLE_SUPPRESSION_DANS_BASE"/>
      <xs:enumeration value="UPDATE_NON_EFFECTUE_EN_BASE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeliveriesWSException" type="tns:DeliveriesWSException"/>
  <xs:complexType name="DeliveriesWSException">
    <xs:sequence>
      <xs:element minOccurs="0" name="wsError" type="tns:deliveriesWSError"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getRateDeliveryTotalResponse">
    <wsdl:part element="tns:getRateDeliveryTotalResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeliveriesWSException">
    <wsdl:part element="tns:DeliveriesWSException" name="DeliveriesWSException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDeliveriesResponse">
    <wsdl:part element="tns:getAllDeliveriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllDeliveries">
    <wsdl:part element="tns:getAllDeliveries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInternationalRateDeliveryResponse">
    <wsdl:part element="tns:getInternationalRateDeliveryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRateDeliveryTotal">
    <wsdl:part element="tns:getRateDeliveryTotal" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInternationalRateDelivery">
    <wsdl:part element="tns:getInternationalRateDelivery" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IDeliveryCalculator">
    <wsdl:operation name="getAllDeliveries">
      <wsdl:input message="tns:getAllDeliveries" name="getAllDeliveries">
    </wsdl:input>
      <wsdl:output message="tns:getAllDeliveriesResponse" name="getAllDeliveriesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DeliveriesWSException" name="DeliveriesWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRateDeliveryTotal">
      <wsdl:input message="tns:getRateDeliveryTotal" name="getRateDeliveryTotal">
    </wsdl:input>
      <wsdl:output message="tns:getRateDeliveryTotalResponse" name="getRateDeliveryTotalResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DeliveriesWSException" name="DeliveriesWSException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInternationalRateDelivery">
      <wsdl:input message="tns:getInternationalRateDelivery" name="getInternationalRateDelivery">
    </wsdl:input>
      <wsdl:output message="tns:getInternationalRateDeliveryResponse" name="getInternationalRateDeliveryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DeliveriesWSException" name="DeliveriesWSException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeliveryCalculatorServiceSoapBinding" type="tns:IDeliveryCalculator">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAllDeliveries">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAllDeliveries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAllDeliveriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DeliveriesWSException">
        <soap:fault name="DeliveriesWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRateDeliveryTotal">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRateDeliveryTotal">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRateDeliveryTotalResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DeliveriesWSException">
        <soap:fault name="DeliveriesWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getInternationalRateDelivery">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getInternationalRateDelivery">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInternationalRateDeliveryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DeliveriesWSException">
        <soap:fault name="DeliveriesWSException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeliveryCalculatorService">
    <wsdl:port binding="tns:DeliveryCalculatorServiceSoapBinding" name="DeliveryCalculatorPort">
      <soap:address location="http://GAIA:8180/OnWine-DeliveryWS-Biz/DeliveryCalculator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>